@mixin primaryFont ($fontSizeValue, $lineHeight) {
    font-size: $fontSizeValue * 1px;
    font-size: ($fontSizeValue/10) * 1rem;
    line-height: $lineHeight;
    font-weight: regular;
    font-family: $primaryFontFamily;   
}


@mixin secondaryFont ($fontSizeValue, $lineHeight, $fontWeight)  {
    font-size: $fontSizeValue * 1px;
    font-size: ($fontSizeValue/10) * 1rem;
    line-height: $lineHeight;
    font-weight: $fontWeight;
    font-family: $secondaryFontFamily;
}

@mixin flex ($flexFlow, $justifyContent, $alignItems, $alignContent) {
    display: flex;
    flex-flow: $flexFlow;
    justify-content: $justifyContent;
    align-items: $alignItems;
    align-content: $alignContent;
}

@mixin position ($type: relative, $top: 0, $right: 0) { 
    position: $type; 
    top: $top;
    right: $right;
  }

  @mixin colors ($background, $color) {
    background-color: $background;
    color: $color;
  }
  
  @mixin paddingMargin ($padding, $margin) {
    padding: $padding;
    margin: $margin;
  }
  