$primaryColor: rgb(3, 105, 124);
$secondaryColor: rgb(71, 75, 181);
$thirdColor: rgb(8, 253, 237);
$fourthColor: rgb(4, 71, 121);
$textColor: rgb(243, 250, 255);
$primaryFontFamily: 'Walter Turncoat', cursive;
$secondaryFontFamily: 'Roboto', sans-serif;